<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @keyframes changeimg{
            0%{background-image:url("https://images.prismic.io/trustedhousesitters/a8272ce6-f581-4b9e-bb6d-c904db9c6d3d_Funny+dog+names.png?auto=compress,format&rect=0,0,1920,800&w=960&h=400") ;}
            20%{background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_JHAMqu7aESwN-KdVjAY4gWAaM1Z3isDMY06PoymnHw&s") ;}
            40%{background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs2MKCull0sePKRuveBdci-6bhgTuARxDK2Q&s") ;}
            60%{background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmar-sB6X1jeINuQuVZBp2rs0PO2ftZL__IA&s") ;}
            80%{background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBerjNltXNr1J86aRqyAwJbKP06USBDLMhwQ&s") ;}
            100%{background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-BrS9Scywu982kNklHYE4oRcw09eG9fL4nOLrhuuyJxZpvRkElrbsawyNZHZgQtw07EM&usqp=CAU") ;}
        }
        body{
            background-image:url("https://i.insider.com/5c005d9bac00e20fe169f725?width=700");
            background-repeat: no-repeat;
            background-size: 1300px 800px;
            animation-name: changeimg;
            animation-duration: 20s;
        }
    </style>
</head>
<body>
    
</body>
</html>